<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cms.dao.CourseEnrollmentDOMapper">
  <resultMap id="BaseResultMap" type="org.cms.dataobject.CourseEnrollmentDO">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
  </resultMap>
  <insert id="insert" parameterType="org.cms.dataobject.CourseEnrollmentDO">
    insert into course_enrollment (id, course_id, student_id
      )
    values (#{id,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, course_id, student_id
    from course_enrollment
  </select>
</mapper>