<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cms.dao.LessonDOMapper">
  <resultMap id="BaseResultMap" type="org.cms.dataobject.LessonDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="lesson_number" jdbcType="INTEGER" property="lessonNumber" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lesson
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.cms.dataobject.LessonDO">
    insert into lesson (id, course_id, lesson_number, 
      date, start_time, end_time
      )
    values (#{id,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{lessonNumber,jdbcType=INTEGER}, 
      #{date,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.cms.dataobject.LessonDO">
    update lesson
    set course_id = #{courseId,jdbcType=INTEGER},
      lesson_number = #{lessonNumber,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, course_id, lesson_number, date, start_time, end_time
    from lesson
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, course_id, lesson_number, date, start_time, end_time
    from lesson
  </select>
  <select id="getLessonsByCourseId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, course_id, lesson_number, date, start_time, end_time from lesson where course_id = #{courseId}
  </select>
  <select id="getLessonsByDate" parameterType="org.cms.dataobject.CourseDO" resultMap="BaseResultMap">
    select id, course_id, date, start_time, end_time
    from lesson
    where 1=1
    <if test = "startDate != null and startDate != ''">
      and date &gt;= strftime('%Y-%m-%d', #{startDate})
    </if>
    <if test = "endDate != null and endDate != ''">
      and date &lt;= strftime('%Y-%m-%d', #{endDate})
    </if>
  </select>
  <select id="deleteByCourseId" parameterType="java.lang.Integer">
    delete from lesson where course_id = #{courseId}
  </select>
</mapper>