<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cms.dao.UserStudentDOMapper">
  <resultMap id="BaseResultMap" type="org.cms.dataobject.UserStudentDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.cms.dataobject.UserStudentDO">
    insert into user_student (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.cms.dataobject.UserStudentDO">
    update user_student
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name
    from user_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name
    from user_student
  </select>
  <delete id="deleteByStudentName" parameterType="java.lang.String">
    delete from user_student where name = #{studentName}
  </delete>
  <select id="getStudents" resultMap="BaseResultMap">
    select id, name
    from user_student
    where 1=1
    <if test = "studentId != null and studentId != ''">
      and id = #{studentId}
    </if>
    <if test = "studentName != null and studentName != ''">
      and name = #{studentName}
    </if>
  </select>
</mapper>